
html {
    position:   relative;
    min-height: 100%;
}

body {
    margin-bottom: 109px;
}

.footer {
    position:   absolute;
    bottom:     0;
    width:      100%;
    height:     109pxpx;
}

#bottom-nav {
    height:         109px;
    overflow:       hidden;
}
#bottom-nav ul {
    display:        inline;
    padding:        0;
    margin:         0;
}
#bottom-nav li {
    display:        inline-block;
    list-style:     none;
    font-size:      12px;
    margin:         0;
    padding:        0;
    background-color: rgba(160, 160, 160, 0.17);
    border-radius:  4px;
}
#bottom-nav td {
    height:         94px;
    overflow:       hidden;
    padding:        4px;
    vertical-align: bottom;
}
#bottom-nav li a {
    width:          80px;
}
#bottom-nav a {
    white-space:    nowrap;
    display:        inline-block;
    text-align:     center;
}
#bottom-nav td img {
    padding:        0 2px;
}
