/local
/ssl
/LocalBits
c_r_p.conf.secret
c_r_p.conf.private
devrun
apirun
/premium/test

# Vim files
*.swp

# logs
/log

# Instructors' uploaded photos
/public/images/Instructors/photos
!/public/images/Instructors/photos/default.jpg

# Uploaded files for online courses
/public/olc/images/uploaded
/pdfs/olc/uploaded/

