html {
    overflow-y:     scroll;
}
html, body {
    height:         100%;
}
body {
    padding:        0;
    margin:         0;
    font-family:    sans-serif;
    line-height:    140%;
    background-color: #bbb;
}
a {
    color:          inherit;
}
a img {
    border:         none;
}
a:visited   {
    color:          inherit;
}
#main-body-container {
    width:          976px;
    border-style:   solid;
    border-width:   0 1px;
    border-color:   black;
    color:          #354;
    margin:         0 auto;
    background:     white url('/images/Animals/OtterFooter.jpg') no-repeat bottom;
    min-height:     100%;
    position:       relative;
}
#logged_in_indicator {
    position:       absolute;
    font-size:      12px;
    text-align:     right;
    width:          100%;
    line-height:    100%;
    padding:        2px 0;
}
#footrow {
    width:          100%;
    height:         100px;
    background:     white url('/images/FootRow.jpg') repeat-x center;
}
#content-container {
    vertical-align: top;
    width:          100%;
    padding:        1px 8px 1px 1px;
}
#content {
    width:          100%;
}
#left-nav-container {
    vertical-align: top;
    white-space:    nowrap;
}
#left-nav {
    padding:        8px;
    margin:         8px;
}
#left-nav img {
    display:        block;
    margin:         25px auto;
}
#left-nav ul {
    padding:        0;
    margin:         0;
    border-color:   inherit;
    border-style:   solid;
    border-width:   0 0 1px 0;
}
#left-nav li {
    list-style:     none;
    margin:         0;
    padding:        0;
    border-color:   inherit;
    border-style:   solid;
    border-width:   1px 0 0 0;
    font-weight:    bold;
}
#left-nav li a {
    display:        block;
    padding:        4px 8px 4px 14px;
}
#left-nav li.selected:before {
    content: "> ";
}
#left-nav li.selected {
    background:     #fed;
    padding:        4px 8px 4px 0;
}
#left-nav li:hover {
    background:     #edc;
}
#bottom-nav a, #left-nav a {
    text-decoration:    none;
}
#bottom-nav a:hover, #left-nav a:hover {
    text-decoration:    underline;
}
#corner-mouse {
    position:       fixed;
    margin-left:   855px;
    bottom:         -15px;
}
#corner-logo {
    position:       fixed;
    padding-left:   10px;
    right:          auto;
    bottom:         15px;
}
h1#heading {
    font-size:      30px;
    text-align:     left;
    padding:        12px;
    margin:         0;
}
#bottom-spacer {
    width:          0;
    height:         335px;
    clear:          left;
}
#bottom-nav {
    height:         50px;
    clear:          left;
    margin:         0 0 0 10px;
    position:       absolute;
    bottom:         0;
}
#sq-logo {
    vertical-align:     text-bottom;
}
#bottom-nav ul {
    display:        inline;
    padding:        0;
    margin:         0 0 0 40px;
}
#bottom-nav li {
    display:        inline;
    list-style:     none;
    font-size:      12px;
    margin:         0 0 20px 0;
    padding:        0 20px;
}
#bottom-nav li:hover {
    background:     #edc;
}
#review-container {
    vertical-align: top;
}
#review-heading {
    padding:        8px 0;
    font-weight:    bold;
}
#reviews, fieldset, legend, .message-box {
    border:         3px solid #589;
    background:     #bde;
    border-radius:  8px;
    margin:         20px;
}
.message-box {
    padding:        8px;
    font-weight:    bold;
}
legend {
    padding:        2px 4px;
    border-width:   2px;
    border-radius:  6px;
    border-bottom:  none;
    margin-bottom:  2px;
}
#reviews, fieldset {
    padding:        8px;
}
#reviews {
    line-height:    120%;
}
#review-list {
    height:         350px;
    width:          200px;
    overflow:       hidden;
    font-size:      12px;
}
#review-list ul {
    padding:        0;
    margin:         0;
}
#review-list li {
    list-style:     none;
    margin:         0px;
    padding:        4px;
    border-color:   inherit;
    border-style:   solid;
    border-width:   1px 0 0 0;
}
#review-list div {
    text-align:     right;
    font-style:     italic;
}
label {
    padding:        8px 0 0;
    width:          33%;
    float:          left;
    text-align:     right;
    clear:          left;
    display:        block;
}
.field-extra-info {
    padding:        0;
    text-align:     left;
    font-size:      11px;
    line-height:    110%;
    clear:          left;
    text-align:     right;
}
input, textarea {
    border:         2px solid #589;
    border-radius:  4px;
    margin:         0 4px 4px 4px;
    font-size:      16px;
    padding:        4px;
    font-weight:    bold;
    font-family:    inherit;
    color:          inherit;
    background:     white;
}
input[type="submit"], input[type="button"] {
    background-image: linear-gradient(#fff, #ddd);
}
input[type="submit"]:hover, input[type="button"]:hover {
    background-image: linear-gradient(#ccc, #eee);
}
input[type="checkbox"] {
    width:          20px;
    height:         20px;
    margin:         4px 8px;
    color:          inherit;
}
.input-container {
    float:          left;
    margin-top:     4px;
}
.field-with-error {
    background-color: #fde;
}
.field-error-message {
    color:          #d44;
    font-size:      10px;
    clear:          left;
    margin:         0 10px;
    padding:        0 0 4px 0;
    line-height:    100%;
}
#location-input-map-container {
    border:         2px solid #589;
    border-radius:  4px;
    width:          400px;
    height:         200px;
    margin:         0 4px;
    float:          left;
}
#location-input-map-canvas {
    height:         100%;
    margin:         0;
    padding:        0;
}
.horizontal-divider-small {
    margin:         4px auto;
    width:          409px;
    height:         41px;
    background:     url('/images/Plants/LavenderHorizontal2.png');
}
.page-text-terminator {
    margin:         4px auto;
    width:          77px;
    height:         67px;
    background:     url('/images/Plants/Strawberry.png');
}

.instructor-photo {
    border:         3px solid #589;
    border-radius:  8px;
    float:          right;
    margin:         4px;
}
.instructor-photo > img {
    vertical-align: bottom;
}

.yellow-text-edited > p {
    margin: 0; /* Because the yellow-text RTE puts <br>s between <p>s */
}
table.list1 {
    border:         3px solid #589;
    background:     #bde;
    border-radius:  8px;
    margin:         20px;
    border-spacing: 0;
    padding:        0;
}
.list1 > tbody > tr > th {
    text-align: left;
    margin:     0;
    border:     0;
    padding:    4px 8px;
    color:      white;
    background: #589;
}
.list1 > tbody > tr > td {
    padding:    1px 8px;
}
.list1 > tbody > tr:nth-child(odd) {
    background: #cef;
}
.low-key {
    border:         2px solid #ddd;
    background:     #eee;
    border-radius:  8px;
    margin:         2px;
    padding:        2px 8px;
    font-size:      8px;
    color:          #ccc;
    position:       relative;
    top:            20px;
    left:           -9999px;
    float:          left;
}
.supplementary-info {
    color:          #acb;
    font-size:      75%;
    line-height:    130%;
}
.certificate-container {
    text-align:             center;
    font-family:            'Tangerine', cursive;
    background:             url('/images/MouseInBed.png');
    font-size:              25px;
    background-repeat:      no-repeat;
    background-position:    center;
    line-height:            120%;
    color:                  black;
}
.certificate-overlay {
    background-color:       rgba(255,255,255,0.8);
    padding:                20px 180px;
}
.certificate-emphasised, .certificate-writing {
    font-size:              50px;
    font-weight:            bold;
}
.certificate-writing {
    color:                  #34a;
    border-bottom:          1px dashed black;
}
.certificate-extra {
    font-size:              10px;
    font-family:            sans-serif;
    font-style:             normal;
    line-height:            130%;
    color:                  #aaa;
}

