html {
    overflow-y:     scroll;
}
html, body {
    height:         100%;
}
body {
    padding:        0;
    margin:         0;
    font-family:    sans-serif;
    line-height:    140%;
    background-color: #bbb;
}
a {
    color:          inherit;
}
a img {
    border:         none;
}
a:visited   {
    color:          inherit;
}
td {
    vertical-align: top;
    padding: 0;
}
#main-body-container {
    width:          976px;
    border-style:   solid;
    border-width:   0 1px;
    border-color:   black;
    color:          #354;
    margin:         0 auto;
    background:     white url('/images/Animals/OtterFooter.jpg') no-repeat bottom;
    min-height:     100%;
    position:       relative;
}
#logged_in_indicator {
    position:       absolute;
    font-size:      12px;
    text-align:     right;
    width:          100%;
    line-height:    100%;
    padding:        2px 0;
}
#sm-links {
    position:       absolute;
    text-align:     right;
    width:          100%;
    line-height:    100%;
}
#sm-links img {
    margin:         12px;
}
#footrow {
    width:          100%;
    height:         100px;
    background-image:       url('/images/FootRow.png'), linear-gradient(#fff, #bde);
    background-repeat:      repeat-x;
    background-position:    center;
}
#footrow.members-area {
    background-image:       url('/images/FootRow.png'), linear-gradient(#fff, #fdd);
}
#content-container {
    vertical-align: top;
    padding:        1px 16px 1px 16px;
}
.top-nav {
    text-align:     center;
    background:     #bde;
    padding:        0;
}
.top-nav.members-area, .member-option-highlight span {
    background:     #fdd;
}
.top-nav span, .member-option-highlight span  {
    display:        inline-block;
    border:         1px solid;
    border-bottom:  0px;
    padding:        2px 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 8px;
    background:     linear-gradient(#acd, #bde);
}
.top-nav.members-area span, .member-option-highlight span {
    background:     linear-gradient(#ecc, #fdd);
}
.top-nav span.selected {
    background:     #fff;
    background:     linear-gradient(#eee, #fff);
}
#members-area-menu-header {
    color:          #955;
    font-size:      75%;
    line-height:    130%;
    text-align:     center;
}
#bottom-nav a, #instructor-nav a, a.simple-link, .top-nav a {
    text-decoration:    none;
}
#bottom-nav a:hover, #instructor-nav a:hover, a.simple-link:hover, .top-nav a:hover {
    text-decoration:    underline;
}
#corner-mouse {
    position:       fixed;
    margin-left:   855px;
    bottom:         -15px;
}
#corner-logo {
    position:       fixed;
    padding-left:   10px;
    right:          auto;
    bottom:         15px;
}
#heading-image {
    position:       absolute;
    margin:         2px 8px;
    width:          44px;
    height:         57.5px;
}
#heading {
    font-size:      30px;
    text-align:     left;
    padding:        20px 12px 12px 64px;;
    margin:         0;
}
#bottom-spacer {
    width:          0;
    height:         335px;
    clear:          left;
}
#bottom-nav {
    height:         50px;
    clear:          left;
    margin:         0 0 0 10px;
    position:       absolute;
    bottom:         0;
}
#sq-logo {
    vertical-align:     text-bottom;
}
#bottom-nav ul {
    display:        inline;
    padding:        0;
    margin:         0 0 0 40px;
}
#bottom-nav li, #instructor-nav li {
    display:        inline;
    list-style:     none;
    font-size:      12px;
    margin:         0 0 20px 0;
    padding:        0 20px;
}
#bottom-nav li:hover {
    background:     #edc;
}
#instructor-nav ul {
    text-align: right;
    display:        block;
    padding:        0;
    margin:         0 0 0 0;
}
#instructor-nav li {
    padding: 0 14px;
}
#instructor-nav li:hover {
    background:     #bde;
}
#review-heading {
    padding:        8px 0;
    font-weight:    bold;
}
fieldset, legend, .message-box, .pdf-preview, .highlight-box, .instructor-photo, table.list1, .member-option-highlight, .pdf-separator {
    border:         3px solid #589;
    background:     #bde;
    border-radius:  8px;
}
fieldset, legend, .message-box {
    margin:         20px;
}
.message-box {
    padding:        8px;
    font-weight:    bold;
    text-align:     center;
}
.highlight-box {
    padding:        12px;
    font-weight:    bold;
    text-align:     center;
    margin:         8px 0;
}
.centered-image {
    margin:         8px auto;
    display:        block;
}
legend {
    padding:        2px 4px;
    border-width:   2px;
    border-radius:  6px;
    border-bottom:  none;
    margin-bottom:  2px;
}
#reviews, fieldset {
    padding:        8px;
}
#reviews {
    line-height:    120%;
    height:         30px;
}
#review-list {
    overflow:       hidden;
    width:          100%;
    font-size:      16px;
    height:         32px;
}
#review-list ul {
    padding:        0;
    margin:         0;
    width:          20000px;
}
#review-list li {
    display:        inline-block;
    list-style:     none;
    margin:         0 8px;
    padding:        4px;
    border-color:   inherit;
    border-style:   solid;
    border-width:   1px 0 1px 0;
}
#review-list span {
    font-style:     italic;
    font-size:      12px;
}
label {
    padding:        8px 0 0;
    width:          33%;
    float:          left;
    text-align:     right;
    clear:          left;
    display:        block;
}
.field-extra-info, .extra-info {
    padding:        0;
    text-align:     left;
    font-size:      11px;
    line-height:    110%;
    clear:          left;
    text-align:     right;
}
.extra-info {
    text-align:     left;
}
.standard-button, .small-button {
    border-radius:  4px;
    font-family:    inherit;
    color:          inherit;
    background:     white;
    text-decoration:    none;
}
input, textarea, .standard-button {
    border-radius:  4px;
    border:         2px solid #589;
    margin:         0 4px 4px 4px;
    font-size:      16px;
    padding:        4px;
    font-weight:    bold;
    font-family:    inherit;
    color:          inherit;
}
input:disabled {
    color:          #bbb;
}
.small-button {
    border:         1px solid #589;
    margin:         0 0 1px 1px;
    font-size:      11px;
    padding:        2px;
}
.disabled-button {
    color:          #bba;
    border-color:   #bbb;
    text-decoration: line-through;
}
.button-group {
    text-align:     right;
}
input[type="submit"], input[type="button"], .small-button, .standard-button {
    background-image: linear-gradient(#fff, #ddd);
}
input[type="submit"]:hover, input[type="button"]:hover, a.small-button:hover, a.standard-button:hover {
    background-image: linear-gradient(#ccc, #eee);
}
input[type="checkbox"] {
    width:          20px;
    height:         20px;
    margin:         4px 8px;
    color:          inherit;
}
input[type="image"] {
    border: none;
}
.input-container {
    float:          left;
    margin-top:     4px;
}
.field-with-error {
    background-color: #fde;
}
.field-error-message {
    color:          #d44;
    font-size:      14px;
    font-weight:    bold;
    clear:          left;
    margin:         0 10px;
    padding:        0 0 4px 0;
    line-height:    100%;
}
#location-input-map-container {
    border:         2px solid #589;
    border-radius:  4px;
    width:          400px;
    height:         200px;
    margin:         0 4px;
    float:          left;
}
#location-input-map-canvas {
    height:         100%;
    margin:         0;
    padding:        0;
}
.horizontal-divider-small {
    margin:         4px auto;
    width:          409px;
    height:         41px;
    background:     url('/images/Plants/LavenderHorizontal2.png');
}
.page-text-terminator {
    margin:         4px auto;
    width:          77px;
    height:         67px;
    background:     url('/images/Plants/Strawberry.png');
}

.instructor-photo {
    float:          right;
    margin:         4px;
}
.instructor-photo > img {
    vertical-align: bottom;
}

.yellow-text-edited > p {
    margin: 0; /* Because the yellow-text RTE puts <br>s between <p>s */
}
table {
    border-spacing: 0;
}
table.list1 {
    margin:         20px;
    padding:        0;
}
.list1 > tbody > tr > th {
    vertical-align: top;
    text-align: left;
    margin:     0;
    border:     0;
    padding:    4px 8px;
    color:      white;
    background: #589;
}
.list1 > tbody > tr > td {
    padding:    1px 8px;
}
.list1 > tbody > tr:nth-child(odd) {
    background: #cef;
}
.low-key {
    border:         2px solid #ddd;
    background:     #eee;
    border-radius:  8px;
    margin:         2px;
    padding:        2px 8px;
    font-size:      8px;
    color:          #ccc;
    position:       relative;
    top:            20px;
    left:           -9999px;
    float:          left;
}
.supplementary-info {
    color:          #acb;
    font-size:      75%;
    line-height:    130%;
}
.certificate-container {
    text-align:             center;
    font-family:            'Tangerine', cursive;
    background:             url('/images/MouseInBed.png');
    font-size:              25px;
    background-repeat:      no-repeat;
    background-position:    center;
    line-height:            120%;
    color:                  black;
    width:                  800px;
    margin:                 20px auto;
}
.certificate-overlay {
    background-color:       rgba(255,255,255,0.8);
    padding:                20px 180px;
}
.certificate-emphasised, .certificate-writing {
    font-size:              50px;
    font-weight:            bold;
}
.certificate-writing {
    color:                  #34a;
    font-family:            'Georgia', cursive;
    border-bottom:          1px dashed black;
    font-size:              30px;
    font-weight:            bold;
    font-style:             italic;
}
.certificate-extra {
    font-size:              10px;
    font-family:            sans-serif;
    font-style:             normal;
    line-height:            130%;
    color:                  #aaa;
}
#cookie-warning {
    text-align:     center;
    font-family:    sans-serif;
    font-size:      14px;
    padding:        4px;
    border-bottom:  1px solid black;
    background:     #fe9;
}
#js-warning, #demo-warning {
    text-align:     center;
    font-family:    sans-serif;
    font-size:      14px;
    padding:        4px;
    border-bottom:  1px solid black;
    background:     #f99;
}
.water-mark {
    background:     url('/images/CRPLogoWaterMark.jpg') center 16px / 40% auto no-repeat;
}
.front-page-large {
    border:         4px solid;
    padding:        12px;
    font-size:      32px;
    border-radius:  12px;
    line-height:    120%;
    text-align:     center;
    margin:         8px 20px 12px 20px;
    background:     #eef;
    border-color:   #dde;
}
.front-page-medium {
    font-size:      24px;
    line-height:    120%;
    text-align:     center;
    margin:         0 0 12px 0;
}
.pdf-preview {
    padding:        4px;
    margin:         8px;
    float:          left;
    width:          150px;
    height:         265px;
    font-size:      12px;
    line-height:    120%;
    text-align:     center;
}
.pdf-separator {
    width:          113px;
    height:         267px;
    margin:         8px;
    padding:        12px 8px 0 40px;
    text-align:     right;
    font-weight:    bold;
    float:          left;
    border-left:    none;
    border-top:     none;
    border-bottom:  none;
    background-image: linear-gradient(to right, #fff, #bde);
}
.member-option-highlight {
    width:          165px;
    height:         234px;
    padding:        8px;
    text-align:     center;
    font-size:      12px;
    line-height:    130%;
    margin:         0 12px 12px 0;
    float:          left;
}
.member-option-highlight div {
    font-size:      16px;
    font-weight:    bold;
    padding:        0 0 4px;
    margin:         0 0 4px;
    border-bottom:  1px solid;
}
.page-logo {
    margin:         12px 4px 4px 4px;
    float:          right;
}
div.faq-menu {
    float:          left;
    margin:         0 12px 12px 0;
    border-radius:  8px;
    border-right:   1px solid #589;
    border-bottom:  1px solid #589;
    padding:        8px 0;
}
.faq-menu center {
    font-weight: bold;
}
.faq-menu a {
    text-decoration: none;
}
.faq-menu a:hover {
    text-decoration: underline;
}
.faq-menu div {
    padding:        4px 8px;
}
.faq-menu div.selected {
    background:     #fdd;
}


