html {
    overflow-y:     scroll;
    height:         100%;
}

body {
    height:             100%;
    padding:            0;
    margin:             0;
    background-color:   #fcf3dc;
    background-image:   url('/images/Misc/HareBG.jpg');
    background-repeat:  no-repeat;
    background-size:    100%;
    background-attachment: fixed;
}

a, a:visited {
    color:           inherit;
    border:          none;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div.olc-preview-container {
    width:          85%;
    box-shadow:     5px 5px 5px lightgrey;
    border:         3px solid #589;
    border-radius:  8px;
    margin:         4px auto;
}

div.olc-page {
    font-family:    sans-serif;
    line-height:    140%;
    color:          #354;
}

div.olc-content-container, div.olc-content, .olc-head-positioned, .olc-foot-positioned {
    max-width:      850px;
}

div.olc-content-container {
    margin:         0 auto;
    border-left:    1px solid black;
    border-right:   1px solid black;
    padding:        60px 0 0 0;
}

div.olc-content {
    padding:        16px;
    background-color: #eef;
}

.olc-content h1, .olc-content h2, .olc-content h3, .olc-content h4 {
    margin-bottom:  4px;
    padding-top:    4px;
    letter-spacing: 0.05em;
}

.olc-content h2:first-of-type {
    margin-top:     0;
    border-top:     none;
}

.olc-content h1 + p, .olc-content h2 + p, .olc-content h3 + p, .olc-content h4 + p, h3:first-child {
    margin-top:     0;
}

.olc-content h2 {
    border-top:  1px dashed #6a8;
}

.olc-content p {
    margin:         0 0 0 8px;
}

.olc-content img.olc-img  {
    border:         3px solid #354;
    border-radius:  8px;
    display:        block;
}

.olc-content img.olc-img-full  {
    margin:         4px auto;
    width:          90%;
}

.olc-content img.olc-img-small-right {
    width:          40%;
    float:          right;
    margin:         2px 2px 8px 8px;
}

.olc-content img.olc-img-small-left {
    width:          40%;
    float:          left;
    margin:         2px 8px 8px 2px;
}

.olc-content ol, .olc-content ul {
    overflow:       hidden;
}

.olc-head-container {
    position:       fixed;
    width:          100%;
    z-index:        1;
}

.olc-head-positioned, .olc-foot-positioned {
    margin:         0 auto;
    border-left:    1px solid black;
    border-right:   1px solid black;
}

.olc-head-positioned {
    background-image: linear-gradient(#fff, #bde);
}

.olc-head-positioned {
    border-bottom:  1px solid #6a8;
}

.olc-head, .olc-foot {
    padding:        2px 4px;
    overflow:       hidden;
}

.olc-head {
    height:         62px;
}

.olc-head h1 {
    font-size:      1.5em;
}

.olc-head h2 {
    font-size:      1.0em;
    padding-left:   2px;
}

.olc-head h3 {
    font-size:      0.9em;
    padding-left:   4px;
}

.olc-head-part {
    display:        inline-block;
}

.olc-head h1, .olc-head h2, .olc-head h3 {
    line-height:    100%;
    margin:         2px 0;
}

.olc-right {
    float:          right;
    text-align:     right;
}

.olc-foot-container {
    clear:          both;
    width:          100%;
}

.olc-foot-positioned {
    background-image: linear-gradient(#eef, #bde);
}

.olc-foot ul {
    display:        inline;
    padding:        0;
    margin:         0 0 0 40px;
}

.olc-foot li {
    display:        inline;
    list-style:     none;
    font-size:      12px;
    margin:         0 0 20px 0;
    padding:        0 20px;
}

.olc-empty-page {
    padding:    40px 0 0 0;
    margin:     auto;
    text-align: center;
    font-size:  30px;
    color:      #6a8;
}

.olc-nav-button {
    border:           1px solid black;
    border-radius:    3px;
    margin:           0;
    height:           12px;
    display:          inline-block;
    background-image: linear-gradient(#eee, #ccc);
    overflow:         hidden;
    color:            #354;
}

.olc-nav-button:hover {
    background-image: linear-gradient(#ccc, #eee);
}

.olc-nav-button a:hover  {
    text-decoration:  none;
}

.olc-nav-button span  {
    position:   relative;
    top:        -4px;
    padding:    2px;
    font-size:  10px;
    overflow:   hidden;
}

.olc-nav-button.disabled, .olc-nav-button.disabled:hover {
    border-color: #666;
    background:   #ccc;
    color:        #888;
}

.olc-question {
    border:         1px dashed #354;
    border-radius:  8px;
    background:     white;
    clear:          both;
    padding:        0;
    margin:         8px 0px;
    overflow:       hidden;
}

.olc-question .head {
    padding:        4px 8px;
    background:     #ddd;
}

.olc-question .body {
    padding:        4px 12px;
}

.olc-question .prompt {
    font-weight:    bold;
    font-style:     italic;
}

.olc-question .instructions {
    font-size:      70%;
    line-height:    120%;
}

.olc-content label {
    padding:        0;
    width:          inherit;
    float:          none;
    text-align:     left;
    display:        inline;
}

.olc-content input[type="checkbox"], .olc-content input[type="radio"] {
    width:          15px;
    height:         15px;
    margin:         0 0 0 2px;
    color:          inherit;
    position:       relative;
    top:            2px;
}

.olc-content input[type="submit"], .olc-content input[type="button"], .olc-button {
    border-radius:  4px;
    border:         2px solid #589;
    color:          #354;
    font-family:    inherit;
    font-size:      16px;
    font-weight:    bold;
    margin:         4px;
    padding:        4px;
    background-image: linear-gradient(#fff, #ddd);
}
.olc-content input[type="submit"]:hover, .olc-content input[type="button"]:hover, .olc-button:hover {
    background-image: linear-gradient(#ccc, #eee);
    cursor:           pointer;
    text-decoration:  none;
}

.olc-component-anchor {
    display:        inline-block;
    width:          0;
    height:         0;
    position:       relative;
    top:            -66px;
}

.olc-content .error {
    color:          #c00;
}

.olc-question .head.error {
    background:     #fbb;
}

.olc-question .head.error h3::before {
    content:        "* ";
}

#sq-logo {
    vertical-align:     text-bottom;
    margin-left:        16px;
}

#heading-image {
    margin:         0 4px;
    width:          44px;
}



@media print {

    body {
        background-color: #fff;
    }

    div.olc-page {
        color: #000;
    }

    div.olc-content {
        background-color: #fff;
        padding: 0;
    }

    div.olc-content-container {
        border:  0;
    }

    .olc-head-container {
        position: absolute;
    }

    .olc-content input[type="submit"], .olc-content input[type="button"], .olc-button, .olc-nav-button {
        display: none;
    }

    .olc-content h2:first-of-type {
        margin-top: 10px;
    }
}
